@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

$backgroundImg1: url("https://github.com/Ehyua777/imgs-bank/blob/main/BK.png?raw=true");

body {

    header {
        background-image: $backgroundImg1;
        background-size: cover;
    }

    main {
        iframe {
            width: 560px;
            height: 315px;
        }
    }


    footer {
        background: $backgroundImg1;
        background-size: cover;
    }
}